.new-user {
  background-color: white;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.new-user input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid rgb(2, 0, 0);
  width: 100%;
  max-width: 97%;
}
.new-user label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  display: block;
  text-align:left;
}
.new-user button {
  font: inherit;
  margin-top: 0.5rem;
  margin-left: 0rem;
  color: rgb(255, 255, 255);
  background-color: rgb(117, 18, 117);
  border: rgb(117, 18, 117) ;
  padding: 1rem 2rem;
  border-radius: 14px;
}
.new-user button:hover,
.new-user button:active{
  background-color: rgb(65, 3, 65);
  border: rgb(65, 3, 65);
}



  
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(3, 3, 3, 0.25);
}

.header {
  background: #4f005f;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
}


.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.actions button {
  font: inherit;
  margin-top: 0.5rem;
  margin-left: 0rem;
  color: rgb(255, 255, 255);
  background-color: rgb(117, 18, 117);
  border: rgb(117, 18, 117) ;
  padding: 1rem 2rem;
  border-radius: 14px;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}