.new-user {
  background-color: white;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.new-user input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid rgb(2, 0, 0);
  width: 100%;
  max-width: 97%;
}
.new-user label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  display: block;
  text-align:left;
}
.new-user button {
  font: inherit;
  margin-top: 0.5rem;
  margin-left: 0rem;
  color: rgb(255, 255, 255);
  background-color: rgb(117, 18, 117);
  border: rgb(117, 18, 117) ;
  padding: 1rem 2rem;
  border-radius: 14px;
}
.new-user button:hover,
.new-user button:active{
  background-color: rgb(65, 3, 65);
  border: rgb(65, 3, 65);
}